// 
// BASE STYLING ---------
//
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Tajawal', Helvetica, Arial, sans-serif;
  font-size: $baseFontSize;
  background: $background-color;
  font-weight: bold;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}   

p {
  color: $paragraph-color;
  // font-weight: 300;
  line-height: $line-height;
}

strong { 
  font-weight: bold;
}

span {
  color: $paragraph-color;
  font-size: $font-small;
  position: relative;
}

h1,
h2,
h3, 
h4, 
h5,
h6 {
  font-family: 'Tajawal', Helvetica, Arial, sans-serif;
  color: $heading-color;
}

// body::-webkit-scrollbar {
//   width: 8px;
// }
 
// body::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
// }
 
// body::-webkit-scrollbar-thumb {
//   background-color: $heading-color;
//   outline: 1px solid lighten($heading-color, 10%);
// }

#app {
  width: 100%;
}

.content {
  width: 100%;
  min-height: 60vh;
  position: relative;
  padding: $top $pad-desktop;
  display: flex;
  animation: fadeIn .5s ease;

  @media (max-width: $mobile) {
    padding: 5rem $m-size;
    flex-direction: column;
  }
}

.content-admin {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  position: relative;
  padding-top: $xxl-size;
  overflow: hidden;
  display: flex;
}

.content-admin-wrapper {
  overflow-y: scroll;
  flex-grow: 1;
  padding: $m-size 0;
  padding-top: 0;
  animation: fadeIn .5s ease;
  position: relative;
}


[data-theme='dark'],
[data-theme='dark'] body {
  color: #fff !important;
  background: #020a0e;
 

}
[data-theme='dark'] body h1{
  color: #131313 ;
  
 

}


[data-theme='dark'] body h2{
  color: #020202 ;
  
 

}
[data-theme='dark'] body a{
  color: #ffffff ;
  
 

}
[data-theme='dark'] input{

  color: #020a0e;
}

[data-theme='dark'] .navigation-menu-main a {
  color: #ffffff;
  opacity: 1;
}
[data-theme='dark'] .navigation-menu-main li a {
  color: #ffffff;
  opacity: 1;
}
[data-theme='dark'] .product-grid p {
  color: #111010;
  opacity: 1;
}
[data-theme='dark'] svg {
  color: #ffffff;
  opacity: 1;
}
[data-theme='dark'] svg:hover{
  color: #020a0e;
  opacity: 1;
}

[data-theme='dark'].navigation-menu-link{
  color: #ffffff ; 
}
[data-theme='dark'] .navigation-menu-main a:hover {
  background: #2c414e;
  color: #fff;
}

[data-theme='dark'] .footer {
  background: #081720;
  color: #ffffff ;

}
[data-theme='dark'] .footer h5{

  color: #ffffff;
}
[data-theme='dark'] .footer *{

  color: #ffffff;
}
[data-theme='dark'] .footer span a{
  background-color: #a5a5a5;
  color: #ffffff;
}
[data-theme='dark'] .product-list-wrapper h2,h4{
  
  color: #ffffff;
}
[data-theme='dark'] .product-list-wrapper h3{
  
  color: #ffffff;
}
[data-theme='dark'] .button-muted{
  
  color: #081720;
}
[data-theme='dark'] .input-group input{
  
  color: #f2eeee;
}
[data-theme='dark'] .product-card-publish-date{
  
  color: #0b0a0a;
}
[data-theme='dark'] .filters-toggle-sub input{
  font-size: 1.75rem;
  color: #050505;
}
[data-theme='dark'] .navigation{
  background: #081720;
  color: #ffffff ;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

  .user-nav h5{
    color: #ffffff ;
  }
   nav{
    color: #ffffff !important;
  }
}
.theme {
  transition: 1s all ease;
}


@media (max-width: 767px) {
  .navigation-menu-main ul li {
    font-size: 0.75rem !important;
  }
}
